* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;

}

.navigation {
    width: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: #fff;

    .brand {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.2rem;
    }

    .burger {
        display: none;

        span {
            display: block;
            background: blue;
            margin: 7px 0;
            height: 2.5px;
            width: 30px;
        }
    }

    .menu {
        list-style: none;
        display: flex;

        .list-item {
            margin-left: 30px;

            a {
                color: #fff;
                text-decoration: none;
                transition: .5s all;

                &:hover {
                    opacity: .6;
                }
            }
        }
    }

}




@media screen and (max-width:768px) {


    .navigation {
        position: relative;
        max-width: 100%;

        .burger {
            display: block;
            cursor: pointer;
            font-size: 1.4rem;

            &:target {
                height: auto;
                overflow: auto;
            }
        }

        .menu {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0%;
            flex-direction: column;
            background-color: rgb(96, 96, 97);
            max-height: 0px;
            overflow: hidden;
            transition: max-height .4s all;

            .list-item {
                padding: 20px 0;
                text-align: center;
                margin: 0%;

                a {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}




// .rwd-menu {
//     max-height: auto;
//     overflow: auto;
// }